# Copy this file to .env.local and fill in your values

# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://webadmin:webAdsssddmin1@cluster0.gqhptth.mongodb.net/sproudsdst?appName=Cluster0
# NextAuth Configuration
NEXTAUTH_SECRET=2ab8eb9da05af7b0111872975b322hdjksd798
NEXTAUTH_URL=http://localhost:3000

# For production on Vercel, set NEXTAUTH_URL to your deployed URL:
# NEXTAUTH_URL=https://your-app.vercel.app
